// -----------------
// Search bar styles
// -----------------

.SearchBar {
  position: relative;
  height: 1.5rem;
  background-color: $dark-blue;
  &__icon {
    width: 1.5625rem;
  }
  &__input {
    @include position-absolute(0, unset, unset, 2.5rem);
    width: 16.0625rem;
    border: none;
    outline: none;
    background-color: $dark-blue;
    color: $white;
    caret-color: $red;
  }
}

// search shows
.search-shows {
  z-index: 2;
  position: absolute;
  border: 1px solid blue;
  margin: 0 13px;
  width: 90vw;
  @include display-flex(center, center, row);
  flex-wrap: wrap;
  gap: 10px;
  &__show {
    border: 1px solid red;
    width: 30%;
    height: 100px;
  }
}
