// -------------------
// Trending Bar Styles
// -------------------

.Trend {
  margin: 1.5rem 1rem;
  h1 {
    @include page-header;
  }
  &__TrendingBar {
    scroll-behavior: smooth;
    @include display-flex(space-between, start, row);
    overflow-x: scroll;
    &__element {
      border-radius: 0.4375rem;
      margin: 0.4375rem;
      box-shadow: 0 0 15px $dark-red;
      position: relative; // ! for MovieDataWrapper child
      & > img {
        height: 12.5rem;
        border-radius: 7px 7px 0 0;
      }
    }
  }
}
