// ------------
// Account page
// ------------

.AccountPage {
  margin: 1.5rem 1rem;
  &__avatar {
    height: 6.25rem;
    margin: 10px auto;
    > img {
      display: block;
      margin: 0 auto;
    }
  }
  &__avatar-input {
    margin: 0 auto;
    display: block;
    width: 20%;
    height: 80px;
    padding: 80px 0 0 0;
    background: url(../../../img/upload.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
  }
  &__username {
    text-align: center;
    color: $white;
    @include f-size(f-32, s);
  }
  &__bookmarks,
  &__lists {
    margin-top: 20px;
    &__shows {
      @include display-flex(unset, unset, row);
      margin: 10px 0;
      overflow-x: scroll;
      &__show {
        margin: 5px;
        position: relative;
      }
    }
    &__label {
      &__button {
        border: none;
        span {
          @include translate50all;
        }
      }
    }
    input {
      width: 9.375rem;
    }
    h3 {
      margin: 0 15px 0 5px;
      color: $white;
      display: inline-block;
    }
  }
  &__lists {
    @include display-flex(start, center, row);
    label {
      @include display-flex(unset, center, unset);
      input {
        color: red;
      }
      button {
        position: relative;
        margin-left: 15px;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        color: $semi-dark-blue;
        background-color: $greyish-blue;
        span {
          @include position-absolute(50%, unset, unset, 50%);
        }
      }
    }
  }
  &__footer {
    margin-top: 25px;
    text-align: center;
    span {
      padding: 3px;
      border-radius: 3px;
      border: 1px solid red;
      color: $red;
    }
  }
}
