// -------------------
// Authentication Page
// -------------------

.AuthPage {
  min-height: 100vh;
  position: relative;
  background-color: $dark-blue;
  &__logo {
    @include position-absolute(9%, unset, unset, 50%);
    @include translate50;
  }
  &__wrapper {
    width: 340px;
    background-color: $semi-dark-blue;
    border-radius: 15px;
    box-shadow: 0px 0px 10px $dark-red;
    @include position-absolute(20%, unset, unset, 50%);
    @include translate50;
    &__hdr {
      color: $white;
      margin: 2rem;
      @include f-size(f-32, s);
    }
    &__form {
      margin: 0 auto;
      @include display-flex(unset, unset, column);
      width: 80%;
      label {
        height: 37px;
        border-bottom: 0.0625rem solid $light-blue;
        &:not(:last-of-type) {
          margin-bottom: 48px;
        }
        div.error {
          color: red;
          margin-top: 1.0625rem;
        }
      }
      input {
        background-color: inherit;
        &::placeholder {
          color: grey;
          font-size: 1.1875rem;
          line-height: 1.1875rem;
        }
      }
      &__submit {
        font-size: 16px;
        font-weight: 300;
        border: none;
        border-radius: 7px;
        margin-top: 3.125rem;
        width: 273px;
        height: 3rem;
        background-color: $red;
        color: $white;
      }
    }
    &__login {
      text-align: center;
      margin: 24px 0 24px 0;

      color: $white;
      p {
        display: inline;
        @include f-size(f-15, s);
      }
      &__link {
        font-size: 0.9375rem;
        color: $red;
      }
    }
  }
}
