// -------------------
// Authentication Page
// -------------------

.AuthPage {
  position: relative;
  background-color: $dark-blue;
  &__logo {
    @include position-absolute(9%, unset, unset, 50%);
  }
  &__wrapper {
    width: 340px;
    background-color: $semi-dark-blue;
    border-radius: 15px;
    box-shadow: 0px 0px 10px $dark-red;
    @include position-absolute(20%, unset, unset, 50%);
    &__hdr {
      color: $white;
    }
    &__form {
      @include display-flex(unset, unset, column);
      width: 80%;
      label {
        height: 37px;
        border-bottom: 0.0625rem solid $light-blue;
        &:not(:last-of-type) {
          margin-bottom: 48px;
        }
        div.error {
          color: red;
          margin-top: 1.0625rem;
        }
      }
      input {
        background-color: inherit;
        &::placeholder {
          color: grey;
          font-size: 1.1875rem;
          line-height: 1.1875rem;
        }
      }
      button {
        margin-top: 3.125rem;
        width: 273px;
        height: 3rem;
        background-color: $red;
        color: $white;
      }
    }
    &__login {
      margin-top: 24px;
      color: $white;
      p {
        display: inline;
      }
      &__link {
        color: $red;
      }
    }
  }
}
