// Bookmarks Page

.BookmarksPage {
  min-height: 100vh;
  &__message {
    color: $yellow-lime;
    display: block;
    text-align: center;
  }
  // media queries for laptops
  @include query(laptop) {
    margin-left: 100px;
  }
}
