// ---------
// Show page
// ---------

.ShowPage {
  color: $grey;
  &__poster {
    width: 100%;
    aspect-ratio: 1/1.2;
    position: relative;
    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0,
          $dark-blue
        ),
        no-repeat;
    }
    &__img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
  &__grid {
    margin: 10px;
    display: grid;
    grid-template: repeat(6, 1fr) repeat(3, 1fr);
    grid-template-areas:
      "popularity vote-average vote-count"
      "title title title"
      "genres release-date vote-average"
      "play-btn play-btn play-btn"
      "overview overview overview"
      "trailer trailer trailer";
    & > div {
      border: 1px solid grey;
    }
    &__title {
      color: $red;
      grid-area: title;
    }
    &__play-btn {
      grid-area: play-btn;
    }
    &__release-date {
      grid-area: release-date;
    }
    &__popularity {
      grid-area: popularity;
    }
    &__vote-average {
      grid-area: vote-average;
    }
    &__vote-count {
      grid-area: vote-count;
    }
    &__genres {
      grid-area: genres;
    }
    &__overview {
      grid-area: overview;
    }
    &__trailer {
      grid-area: trailer;
    }
  }
}
