// Sign-up styles

.SignUp {
  position: relative;
  background-color: $dark-blue;
  min-height: 100vh;

  &__logo {
    @include position-absolute(9%, unset, unset, 50%);
    transform: translate(-50%);
  }

  &__wrapper {
    @include position-absolute(20%, unset, unset, 50%);
    background-color: $semi-dark-blue;
    transform: translate(-50%);
    height: 26.25rem;
    width: 340px;
    border-radius: 0.9375rem;

    &__hdr {
      margin: 32px;
      color: $white;
    }

    &__form {
      margin: 0 auto;
      @include display-flex(unset, unset, column);
      width: 80%;
      label {
        height: 2.3125rem;
        border-bottom: 1px solid $light-blue;
        &:not(:last-of-type) {
          margin-bottom: 1.5rem;
        }
      }
      input {
        background-color: inherit;
        border: none;
        outline: none;
        &::placeholder {
          color: grey;
          font-weight: 300;
          font-size: 19px;
          line-height: 19px;
        }
      }
      button {
        margin-top: 2.5rem;
        width: 17.4375rem;
        height: 48px;
        border-radius: 7px;
        background-color: $red;
        border: none;
        color: $white;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
      }
    }
    &__sign-in {
      text-align: center;
      margin-top: 1.5rem;
      color: $white;
      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        display: inline;
      }
      span {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: $red;
      }
    }
  }
}
