// --------------------
// Bookmark Icon Styles
// --------------------

.BookmarkIcon {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  &__img {
    @include position-absolute(50%, unset, unset, 50%);
    transform: translate(-50%, -50%);
    width: 0.9375rem;
    height: 0.9375rem;
  }
}

.Trend__TrendingBar__element,
.ShowsTemplate,
.ShowsGrid,
.AccountPage__bookmarks__shows__show {
  .BookmarkIcon {
    @include position-absolute(10px, 10px, unset, unset);
  }
}
