// Scroll Wrapper

.ScrollBtn {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}
.left {
  left: 20px;
  @include query(laptop) {
    left: 120px;
  }
}
.right {
  right: 20px;
}

// ScrollBtn inside Trending bar
.Trend__TrendingBar {
  .ScrollBtn {
    top: 21.5rem;
  }
  .left,
  .right {
    @include query(tablet) {
      top: 23rem;
    }
  }
  .left,
  .right {
    @include query(laptop) {
      top: 20rem;
    }
  }
  .left {
    left: 20px;
    @include query(laptop) {
      left: 8.125rem;
    }
  }
  .right {
    right: 20px;
  }
}
