// Scroll Wrapper

.ScrollWrapper {
  &__btn {
    z-index: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }
  &__btn:first-child {
    left: 30px;
    @include query(laptop) {
      left: 120px;
    }
  }
  &__btn:last-child {
    right: 30px;
  }
}
