// ----------------
// ShowsGrid styles
// ----------------

.ShowsGrid {
  margin: 1.5rem 1rem;
  &__hdr {
    @include page-header;
    @include f-size(f-32, unset);
  }
  &__grid {
    padding: 5px;
    @include display-flex(center, unset, unset);
    flex-wrap: wrap;
    gap: 25px;

    &__card {
      cursor: pointer;
      border-radius: 7px;
      position: relative;
      max-width: 8.3rem;
      box-shadow: 0 0 15px $dark-red;
      &__img {
        border-radius: 7px 7px 0 0;
        max-height: 12.5rem;
      }
    }
  }
}
