// --------------------
// ShowsTemplate styles
// --------------------

.ShowsTemplate {
  margin-bottom: 3.125rem;
  h2 {
    @include page-header;
  }
  &__row {
    overflow-x: scroll;
    @include display-flex(space-between, center, row);
    &__card {
      position: relative;
      margin: 10px;
      border-radius: 7px;
      box-shadow: 0px 0px 15px $dark-red;
      &__img {
        border-radius: 7px 7px 0px 0px;
      }
    }
    &__scroll-btn {
      z-index: 1;
      width: 50px;
      height: 50px;
      position: absolute;
      cursor: pointer;
    }
    &__scroll-btn:first-child {
      left: 10px;
    }
    &__scroll-btn:last-child {
      right: 10px;
    }
  }
}
