// --------------------
// ShowsTemplate styles
// --------------------

.ShowsTemplate {
  margin-bottom: 3.125rem;
  h2 {
    @include page-header;
  }
  &__row {
    scroll-behavior: smooth;
    overflow-x: scroll;
    @include display-flex(space-between, center, row);
    &__card {
      cursor: pointer;
      position: relative;
      margin: 10px;
      border-radius: 7px;
      box-shadow: 0px 0px 15px $dark-red;
      &__img {
        max-height: 12.5rem;
        border-radius: 7px 7px 0px 0px;
      }
    }
  }
}
