// User Menu styles

.UserMenu {
  @include display-flex(center, start, unset);
  color: $white;
  background-color: $dark-blue;
  width: 100vw;
  position: absolute;
  top: -24px;
  right: -19px;
  bottom: -877px;
  border-radius: 4px;
  z-index: 1;
  &__options {
    margin-top: 150px;
    @include display-flex(center, center, column);
    gap: 40px;
    &__link {
      border: 1px solid $dark-red;
      box-shadow: 0px 3px 0px $dark-red;
      border-radius: 7px;
      padding: 10px;
      text-decoration: none;
      color: $red;
    }
  }
}
