// User Menu styles

.UserMenu {
  @include display-flex(center, start, unset);
  color: $white;
  background-color: $dark-blue;
  width: 100vw;
  min-width: 24.375rem;
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  bottom: -877px;
  border-radius: 4px;
  z-index: 1;
  &__options {
    margin-top: 150px;
    @include display-flex(center, center, column);
    gap: 40px;
    &__link {
      @include f-size(f-23, unset);
      border: 1px solid $dark-red;
      box-shadow: 0px 3px 0px $dark-red;
      border-radius: 7px;
      padding: 10px;
      text-decoration: none;
      color: $red;
    }
  }
  // media queries for tablets
  @include query(tablet) {
    min-width: unset;
    width: 15rem;
    height: 432px;
    top: 92px;
    right: 1rem;
    left: unset;
    border-radius: 15px;
    box-shadow: 0px 5px 15px darkred;
  }
  // media queries for laptops
  @include query(laptop) {
    width: 14rem;
    height: 286px;
    top: 30rem;
    left: 4.4375rem;
    border-radius: 0 7px 7px 0;

    &__options {
      margin-top: 60px;
    }
  }
}
