// -------------
// Global styles
// -------------

// html
html {
  min-height: 100vh;
  overflow-y: scroll;
}

// general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

// Cancel 'x' sign when search input is active
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

// Hide placeholder on focus
input:focus::placeholder {
  color: transparent;
}

// inputs
input {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  border: none;
  outline: none;
}

input[type="password"] {
  font-size: 23px;
  line-height: 24px;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

// tags
img {
  height: 100%;
}

// invalid inputs
label.invalid {
  input {
    color: red;
  }
}

// hidden
.hidden {
  display: none;
  visibility: hidden;
}
