// Outfit font

// html
html {
  height: 100vh;
}

// general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

// Cancel 'x' sign when search input is active
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

// Hide placeholder on focus
input:focus::placeholder {
  color: transparent;
}

// inputs
input {
  color: $white;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

.fnt-s {
  font-size: 0.8125rem;
  font-weight: 300;
}

.fnt-xs {
  font-size: 1.125rem;
  font-weight: 500;
}

.fnt-hdr-s {
  font-size: 1.5rem;
  font-weight: 500;
}

.fnt-hdr-m {
  font-size: 1.5rem;
  font-weight: 300;
}

.fnt-hdr-l {
  font-size: 2rem;
  font-weight: 300;
}

// page and shows row headers
.pg-hdr,
.shw-rw-hdr {
  color: $red;
  font-weight: 300;
  margin-bottom: 10px;
}

// tags
img {
  height: 100%;
}

// margins
.wrppr-mrgn-mob {
  margin: 1.5rem 1rem;
}
