// ------
// Mixins
// ------

// display-flex
@mixin display-flex($j-c, $a-i, $flx-dir) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
  flex-direction: $flx-dir;
}

// position: absolute
@mixin position-absolute($t, $r, $b, $l) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

// breakpoints
$screen-size: (
  mob: 23.4375rem,
  tablet: 48rem,
  laptop: 80rem,
  desktop: 120rem,
);
// loop through our screen sizes and apply corresponding media queries
@mixin query($screen) {
  @each $key, $value in $screen-size {
    @if ($screen == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}
