// ------
// Mixins
// ------

// display-flex
@mixin display-flex($j-c, $a-i, $flx-dir) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
  flex-direction: $flx-dir;
}

// position: absolute
@mixin position-absolute($t, $r, $b, $l) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

// breakpoints
$screen-size: (
  mob: 23.4375rem,
  tablet: 48rem,
  laptop: 80rem,
  desktop: 120rem,
);
// loop through our screen sizes and apply corresponding media queries
@mixin query($screen) {
  @each $key, $value in $screen-size {
    @if ($screen == $key) {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}

// translate
@mixin translate50all() {
  transform: translate(-50%, -50%);
}
@mixin translate50() {
  transform: translate(-50%);
}

// fonts
$f-sizes: (
  f-13: 0.8125rem,
  f-15: 0.9375rem,
  f-16: 1rem,
  f-18: 1.125rem,
  f-23: 1.4375rem,
  f-32: 2rem,
);
$f-weight: (
  s: 300,
  m: 500,
  l: 800,
);
@mixin f-size($font-size, $font-weight) {
  @each $key, $value in $f-sizes {
    @if ($font-size == $key) {
      font-size: $value;
    }
  }
  @each $key, $value in $f-weight {
    @if ($font-weight == $key) {
      font-weight: $value;
    }
  }
}
// header style
@mixin page-header() {
  color: $red;
  font-weight: 300;
  margin-bottom: 10px;
}
