// ---------
// Variables
// ---------

// colors
$black: #000000;
$dark-blue: #10141e;
$dark-blue-2: #13202e;
$greyish-blue: #5a698f;
$semi-dark-blue: #161d2f;
$dark-red: #680c06;
$red: #fc4747;
$light-blue: #5a698f;
$grey: #a0a0a0;
$yellow-lime: #9acd32;
$white: #ffffff;

// breakpoints
$screen-mob: 23.4375rem;
$screen-tablet: 48rem;
$screen-laptop: 80rem;
$screen-desktop: 120rem;
